
<ul class="nav nav-tabs">
	<style type="text/css">
		.frontpagetext {
			font-size: 16;
		}
	</style>

	<li><a href="/">Home</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/resources">Resources</a></li>
</ul>

<div class="jumbotron">
  <div class="container">
    <h1>Ruby Bin!</h1>
    <p>A testing site and shared resources.</p>
    <p><a class="btn btn-primary btn-lg" href="/about">Learn more</a></p>
  </div>
</div>

<div class="row">
	<div class="col-lg-4">
		<h2 align="center">First Column</h2>
		<p class="frontpagetext" align="center">Lorem ipsum dolor sit amet, ubique albucius definitionem ius ad, usu posse periculis ea.</p>
		<p align="center"><a class="btn btn-default" href="#">View details &raquo;</a></p>
	</div>
	<div class="col-lg-4">
		<h2 align="center">Second Column</h2>
		<p class="frontpagetext" align="center">Lorem ipsum dolor sit amet, ubique albucius definitionem ius ad, usu posse periculis ea.</p>
		<p align="center"><a class="btn btn-default" href="#">View details &raquo;</a></p>
	</div>
	<div class="col-lg-4">
		<h2 align="center">Third Column</h2>
		<p class="frontpagetext" align="center">Lorem ipsum dolor sit amet, ubique albucius definitionem ius ad, usu posse periculis ea.</p>
		<p align="center"><a class="btn btn-default" href="#">View details &raquo;</a></p>
	</div>
</div>

<br>
<br>